
    <div class="banner"></div>
    <div class="about-container">
      <p>
         <nav class="navbar navbar-light bg-light">
            <h1>Albin sebana Kurian </h1>
           <p> I'm a software developer</p>
           <p>Aiming to achieve a challenging and successful career where I can make a significant<br> contribution using my creative and innovative ideas, 
           knowledge, programming skills <br>and experience with the objective of development and more growth of the Organization.</p>
          </nav>
          <div>
            <ul class="My-text">
               <li routerLink="['/about]">about</li>
            </ul>
          </div>
          <div class="web-div">
            <a href="https://github.com/albinsebana" target="_blank">
              <button>Visit Website</button>
            </a>
           </div>
       <div class="image-banner">
   
    
    <div class="bulleted-list">
      <ul class="ul-div">
        <li><h1>java programming</h1></li>
        <li><h1>Python programming</h1>   </li>
        <li><h1>Angular,</h1></li>
      </ul>
      <div class="form-container">
         <form>
           <input class="form-field" type="text" placeholder="Name" required />
           <input class="form-field" type="email" placeholder="Email" required />
           <input class="form-field" type="tel" placeholder="Mobile Number" required />
           <textarea class="form-field" placeholder="Message"></textarea>
           <button class="form-button">Submit</button>
         </form>
       </div>
    </div>

    
    <router-outlet></router-outlet>
    
    